services:
  jenkins:
    build:
      context: ./jenkins
      dockerfile: Dockerfile
    image: crypto-bank-jenkins:latest
    container_name: crypto_bank_jenkins
    privileged: true
    user: root
    ports:
      - "8084:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - ./:/workspace
    networks:
      - microservices-net

networks:
  microservices-net:
    name: crypto-bank-project_microservices-net
    external: true

volumes:
  jenkins_home:

