# Bank Service
SERVER_PORT=8080
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=1234
DB_NAME=crypto_bank
DB_SSLMODE=disable

# Exchange Service
EXCHANGE_SERVICE_GRPC_PORT=9090
EXCHANGE_SERVICE_HTTP_PORT=8085

# Analytics Service
ANALYTICS_SERVICE_PORT=8082

# Notification Service
NOTIFICATION_SERVICE_PORT=8083

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

# Zipkin
ZIPKIN_ENDPOINT=http://zipkin:9411/api/v2/spans

# Environment
ENVIRONMENT=development

